<div class="container-fluid py-5 foot-white">
  <footer class="row row-cols-1 row-cols-md-3 g-3 align-items-center py-3 my-4 border-top">
    <!-- Logo and Name -->
    <div class="col text-center text-md-start d-flex flex-column align-items-center align-items-md-start">
      <a href="/" class="mb-2 text-decoration-none d-flex align-items-center justify-content-center justify-content-md-start">
        <i class="bi bi-hearts bright-poppins-text me-2"></i>
        <span class="bright-poppins-text ">KC's Portfolio</span>
      </a>
    </div>

    <!-- Center Text -->
    <div class="col text-center my-2 my-md-0">
      <small>
        Thank you for visiting my portfolio!<br>
        © Kristina Castañeda 2025 | Made with Angular
      </small>
    </div>

    <!-- Social Icons -->
    <div class="col text-center text-md-end">
      <a class="text-white ms-3 fs-5" href="https://www.facebook.com/kccastaneda.95/" target="_blank"><i class="bi bi-facebook"></i></a>
      <a class="text-white ms-3 fs-5" href="https://www.linkedin.com/in/kristina-castaneda/" target="_blank"><i class="bi bi-linkedin"></i></a>
      <a class="text-white ms-3 fs-5" href="https://github.com/keizeeee" target="_blank"><i class="bi bi-github"></i></a>
      <a class="text-white ms-3 fs-5" href="https://www.instagram.com/castanedakristina/" target="_blank"><i class="bi bi-instagram"></i></a>
      <a class="text-white ms-3 fs-5" href="mailto:castanedakcr@gmail.com" target="_blank"><i class="bi bi-envelope-at-fill"></i></a>
    </div>
  </footer>
</div>