.nav-link.active {
    background-color:  #E100FF; 
    color: white; 
}
.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px; 
    font-weight: 600; 
    color: rgb(113, 109, 109); 
}
