<div>
  
    <div class="container pt-5">
        <div class="row rounded-3 shadow mt-5">
          <div class="row">
            <p class="font-mon-700 border-bottom pb-3">Projects</p>
        </div>

        <div id="carouselProjects" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-md-6">
                    <img src="../../assets/img/proj/proj-algo.png" class="d-block w-100" alt="...">
                  </div>
                  <div class="col-md-6 mt-4">
                    <p class="mon-600-14">Gaming Application</p>
                    <p class="mon-700-30">Algorithmic Odyssey</p>
                    <p class="mon-400-16">An educational game application designed to facilitate the learning of various programming algorithms.
                      This interactive game offers a unique blend of civilization-building and multiple-choice quiz-style assessments
                    </p>
                   

                    

                  </div>
                </div>
              </div>

             

              <div class="carousel-item">
                <div class="row">
                  <div class="col-md-6">
                    <img src="../../assets/img/proj/proj-superpot.png" class="d-block w-100" alt="...">
                  </div>
                  <div class="col-md-6 mt-4">
                    <p class="mon-600-14">Internet-of-Things project</p>
                    <p class="mon-700-30">The Super Pot</p>
                    <p class="mon-400-16">A Smart Greenhouse Enclosure System for growing vegetables and nurturing seedlings.
                       It is  built upon the ESP8266 Microcontroller, which includes sensors for sunlight and moisture, an automatic waterer, and a weather-dependent shade system, ensuring optimal care for plants from anywhere via the Internet.
                    </p>

                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselProjects" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselProjects" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
                       
    </div>
          

    </div>
    
  </div>