<div class="container mb-3">
    <nav class="navbar navbar-expand-sm rounded-3 bg-transparent shadow">
        <div class="container-fluid">
            <a class="navbar-brand mb-0 h1 text-white" href="#">
                <i class="bi bi-hearts"></i>
                KC's Portfolio
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="navbar-item">
                        <a [routerLink]="['/']" class="nav-link text-white"> Home </a>
                    </li>
                    <li class="navbar-item">
                        <a [routerLink]="['/about']" class="nav-link text-white"> About </a>
                    </li>
                    <li class="navbar-item">
                        <a [routerLink]="['/experience']" class="nav-link text-white"> Experience </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>