<div class="container mb-3 fixed-top p-3">
    <nav class="navbar navbar-expand-sm bg-dark bg-opacity-25 rounded-3 shadow-lg ">
        <div class="container-fluid">
            <a class="navbar-brand mb-0 h1 bright-poppins-text" href="/">
                <img src="../assets/img/butterfly.svg" alt="Description of SVG" style="height: 32px; width: 32px;" class="me-2 navbar-brand">
                KC's Portfolio
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false">
                <span class="navbar-toggler-icon  "></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="navbar-item font-poppins-text mx-2" (click)="toHome()" [routerLink]="['/']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" >
                        Home
                    </li>
                    <li class="navbar-item font-poppins-text mx-2" (click)="toAbout()" routerLinkActive="active-link" >
                        About
                    </li>
                    <li class="navbar-item font-poppins-text mx-2" (click)="toEducation()" routerLinkActive="active-link" >
                        Education
                    </li>
                    <li class="navbar-item font-poppins-text mx-2 " (click)="toExperience()" routerLinkActive="active-link" >
                        Experience
                    </li>
                    <li class="navbar-item font-poppins-text mx-2 " (click)="toProjects()" routerLinkActive="active-link" >
                        Projects
                    </li>
                    
                </ul>
                <a class="btn btn-sm rounded-3 indi-button " target="_blank" href="../assets/pdf/Resume_Castaneda_KristinaCassandra2025.pdf">RESUME</a>
            </div>
            
            
        </div>
    </nav>
</div>
