<body>
  <div class="position-fixed top-0 end-0 bottom-0 start-0 overflay-hidden" style="z-index: -100;">
      <video autoplay loop muted id="video-background" class="position-absolute fullscreen-bg__video">
          <source src="../../assets/vid/vidBg.mp4" type="video/mp4">
      </video>
  </div>

  <div class="container p-5 vh-100 position-absolute start-50 translate-middle-x">
    <div class="row pt-5">
      <div class="col-md-4">
          <p class=" d-flex justify-content-center mt-2 font-poppins-text indi-theme rounded">KRISTINA CASTAÑEDA</p>
      </div>
    </div>

    <div class="row">
        
        <div class="col-lg-6 mt-2 ">

            <div class="font-poppins mt-5">
                <p>Hi! I'm <strong>Kc</strong>!</p>
            </div>

            <div id="carousel" class="carousel slide" data-bs-ride="carousel" data-bs-touch="true">
                <div class="carousel-inner">
                    <div class="carousel-item active font-poppins-lg-bright">
                        <p> I'm a Web Developer</p>
                    </div>
                    <div class="carousel-item font-poppins-lg-bright">
                        <p> I'm a Web Designer</p>
                    </div>
                </div>
            </div>

            <div class="pt-3 font-poppins-text">
                <p> I am a 3rd year Computer Science student at the University of the Philippines Diliman. With a foundation in data science, software engineering, database systems and computer programming, I am passionate about leveraging my skills to make a meaningful impact. </p>
            </div>
        </div>

        <div class="col-lg-6">
            <img src="../../assets/img/kcPort1.png" alt="kc-pic" class="img-fluid">
        </div>
        
    </div>

  </div>
</body>