<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-1">Welcome</h1>
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                   Hello
                  </div>
                  <div class="carousel-item">
                    hi
                  </div>
                  <div class="carousel-item">
                    <img src="..." class="d-block w-100" alt="...">
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>