<div>
  <div class="container pt-5">
      <div class="row rounded-3 shadow mt-5 ">
        <div class="row pt-2">
          <div class="col-xl-8 mx-auto text-center">
            <div class="section-title">
              <h4>About Me</h4>
            </div>
          </div>
        </div>
        

        <div class="text-center w-75 mx-auto">
          

          <div class="row align-items-center pt-5 ">
            <div class="col-md-6 ">
              <img src="../../assets/img/kcPort8.jpg" alt="kc-pic4" class="w-75 ">
            </div>
            <div class="col-md-6 text-start">
              <div class="pt-3 ">
                <p class="mon-400-16">
                  <i class="bi bi-person indi-text"></i>
                  <b class="indi-text"> Name: </b> Kristina Cassandra Castañeda
                </p>
                <p class="mon-400-16">
                  <i class="bi bi-envelope-at indi-text"></i>
                  <b class="indi-text"> Email: </b> castanedakcr&#64;gmail.com
                </p>
    
                <p class="mon-400-16">
                  <i class="bi bi-telephone indi-text"></i>
                  <b class="indi-text"> Phone: </b> +63 927 214 0930
                </p>
                <p class="mon-400-16">
                  <i class="bi bi-linkedin indi-text"></i>
                  <b class="indi-text"> LinkedIn: </b> 
                  <a class="mon-400-16 no-underline" href="https://www.linkedin.com/in/kristina-castaneda" target="_blank">www.linkedin.com/in/kristina-castaneda</a>
                </p>
    
                <p class="mon-400-16">
                  <i class="bi bi-github indi-text"></i>
                  <b class="indi-text"> Github: </b> 
                  <a class="mon-400-16 no-underline" href="https://github.com/keizeeee" target="_blank">https://github.com/keizeeee</a>
                </p>
  
            </div>
          </div>
                    
        </div>
        

      </div>

      <section class="education pt-100 " id="education">
        <div class="container">
          <div class="row">
            <div class="col-xl-8 mx-auto text-center">
              <div class="section-title">
                <h4>Education</h4>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center flex-wrap ">
            <div class="col-12 d-flex justify-content-center">
              <div class="card m-3 text-bg-dark w-75 opacity-75 ">
                <div class="row g-0">
                  <div class="col-md d-flex align-items-center justify-content-center">
                    <img src="../../assets/img/UPD_Seal.png" class="img-fluid logo-img p-2" alt="UP">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title font-pop-20 ">University of the Philippines Diliman</h5>
                      <p class="card-text mon-600-14">2021 - 2025</p>
                      <span class="badge purple-bg m-2">B.S. Computer Science</span>
                      <span class="badge purple-bg m-2">Magna Cum Laude</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 d-flex justify-content-center">
              <div class="card m-3 text-bg-dark w-75 opacity-75" >
              <div class="row g-0">
                <div class="col-md d-flex align-items-center justify-content-center">
                  <img src="../../assets/img/stscho.png" class="img-fluid logo-img p-2" alt="SSAM">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title font-pop-20 ">St. Scholastica’s Academy Marikina</h5>
                    <p class="card-text mon-600-14">2009 - 2021</p>
                    <span class="badge purple-bg m-2">STEM</span>
                    <span class="badge purple-bg m-2">Graduated with Honors</span>
                  </div>
                </div>
              </div> 
            </div>
              

          </div>
        </div>
        </div>
        
      </section>
      
      
          
      <section class="experience pt-100 pb-100" id="experiences">
        <div class="container">
          <div class="row">
            <div class="col-xl-8 mx-auto text-center">
              <div class="section-title">
                <h4>Experience</h4>
              </div>
            </div>
          </div>
          <!--first section-->
          <div class="row align-items-center how-it-works d-flex">
            <div class="col-2 text-center bottom d-inline-flex justify-content-center align-items-center">
              <div class="circle font-weight-bold">1</div>
            </div>
            <div class="col-8">
                <span class="mon-600-14 purple">July 2024 - Aug 2024</span>
                <a class="mon-700-30" href="https://pointwest.com.ph/" target="_blank">
                <h4>Pointwest Intern</h4></a>
                <p class="exp-content"><b>Software Engineer intern</b> who created an internal website for the company using Angular (TypeScript/JavaScript), Spring (Java), SQL, and Bootstrap with student interns.</p>
            </div>
          </div>
          <!--path between 1-2-->
          <div class="row timeline">
            <div class="col-2">
              <div class="corner top-right"></div>
            </div>
            <div class="col-8">
              <hr/>
            </div>
            <div class="col-2">
              <div class="corner left-bottom"></div>
            </div>
          </div>
          <!--second section-->
          <div class="row align-items-center justify-content-end how-it-works d-flex">
            <div class="col-8 text-right">
              <span class="mon-600-14 purple">2022 - Present</span>
              <a class="mon-700-30" href="https://www.facebook.com/UPCURSOR" target="_blank">
              <h4>UP Association of Computer Science Majors (UP CURSOR) </h4></a>
              <p class="exp-content"><b>HR manager for Tackle 2024</b>, a job fair for students interested in CS/IT careers • <b>Academic Affairs HR Manager 2024</b>, responsible for organizing review sessions.</p>
            </div>
            <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
              <div class="circle font-weight-bold">2</div>
            </div>
          </div>
          <!--path between 2-3-->
          <div class="row timeline">
            <div class="col-2">
              <div class="corner right-bottom"></div>
            </div>
            <div class="col-8">
              <hr/>
            </div>
            <div class="col-2">
              <div class="corner top-left"></div>
            </div>
          </div>
          <!--third section-->
          <div class="row align-items-center how-it-works d-flex">
            <div class="col-2 text-center top d-inline-flex justify-content-center align-items-center">
              <div class="circle font-weight-bold">3</div>
            </div>
            <div class="col-8">
              <span class="mon-600-14 purple">2021 - Present</span>
              <a class="mon-700-30" href="https://www.facebook.com/upacm" target="_blank">
              <h4>Association for Computing Machinery - UP Diliman Student Chapter, Inc. (UP ACM)</h4></a>
              <p class="exp-content"><b>Vice Head of Membership Committee</b> (2022 - 2023) • ACM Fest Destinations 2022, Head of Publicity • Easy As Py 2022: Python Programming Workshop and Algolympics 2022 Steering Committee Member</p>
            </div>
          </div>
        </div>
      </section>
      
    

  </div>
  
</div>

