<div>
  <div class="container pt-5">
      <div class="row rounded-3 shadow mt-5 ">
        <div class="col-sm-4 pt-5">
          <img src="../../assets/img/kcPort4.jpg" alt="kc-pic4" class="img-fluid">
        </div>

        <div class="col-sm">
          <div class="row pt-5">
            <div class="col-4">
                <p class="mon-700-30">About Me</p>
            </div>
          </div>

          <div class="row ">
            <div class="col-md-6 ">
              <div class="pt-3">
                <p class="mon-400-16">
                  <i class="bi bi-person indi-text"></i>
                  <b class="indi-text"> Name: </b> Kristina Cassandra Castañeda
                </p>
                <p class="mon-400-16">
                  <i class="bi bi-envelope-at indi-text"></i>
                  <b class="indi-text"> Email: </b> castanedakcr&#64;gmail.com
                </p>
    
                <p class="mon-400-16">
                  <i class="bi bi-telephone indi-text"></i>
                  <b class="indi-text"> Phone: </b> +63 927 214 0930
                </p>
  
            </div>
          </div>
          <div class="col-md-6 pt-3 ">
            <p class="mon-400-16">
              <i class="bi bi-linkedin indi-text"></i>
              <b class="indi-text"> LinkedIn: </b> 
              <a class="mon-400-16 no-underline" href="https://www.linkedin.com/in/kristina-castaneda" target="_blank">www.linkedin.com/in/kristina-castaneda</a>
            </p>

            <p class="mon-400-16">
              <i class="bi bi-github indi-text"></i>
              <b class="indi-text"> Github: </b> 
              <a class="mon-400-16 no-underline" href="https://github.com/keizeeee" target="_blank">https://github.com/keizeeee</a>
            </p>

          </div>


          <div class="row pt-5">
            <div class="col-4">
                <p class="mon-700-30">Education</p>
            </div>
          </div>
          <div class="row">
            <p class="mon-400-16">
              <b class="indi-text"> 2021 - Present: </b> University of the Philippines Diliman
            </p>
            <p class="mon-400-16">
              <b class="indi-text"> 2009 - 2021: </b> St. Scholastica’s Academy Marikina
            </p>

          </div>



          

          
                                    
            

        </div>
        

      </div>
          
          
      <div class="container mt-5">
        <h4 class="mon-700-30 text-white">Experience</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="main-timeline">
                    <a href="#" class="timeline">
                        
                        <div class="timeline-content">
                            <h3 class="title">Web Designer</h3>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ducimus officiis quod! Aperiam eveniet nam nostrum odit quasi ullam voluptatum.
                            </p>
                        </div>
                    </a>
                    <a href="#" class="timeline">
                        <div class="timeline-content">
                            <h3 class="title">Web Developer</h3>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ducimus officiis quod! Aperiam eveniet nam nostrum odit quasi ullam voluptatum.
                            </p>
                        </div>
                    </a>
                    <a href="#" class="timeline">
                        <div class="timeline-content">
                            <h3 class="title">Web Designer</h3>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ducimus officiis quod! Aperiam eveniet nam nostrum odit quasi ullam voluptatum.
                            </p>
                        </div>
                    </a>
                    <a href="#" class="timeline">
                        <div class="timeline-content">
                            <h3 class="title">Web Developer</h3>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ducimus officiis quod! Aperiam eveniet nam nostrum odit quasi ullam voluptatum.
                            </p>
                        </div>
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
      
    

  </div>
  
</div>

