<div>
  <div class="container pt-5">
      <div class="row rounded-3 shadow mt-5 ">
        <div class="col-sm-4 pt-5">
          <img src="../../assets/img/kcPort4.jpg" alt="kc-pic4" class="img-fluid">
        </div>

        <div class="col-sm">
          <div class="row pt-5">
            <div class="col-4">
                <p class="mon-700-30">About Me</p>
            </div>
          </div>

          <div class="row ">
            <div class="col-md-6 ">
              <div class="pt-3">
                <p class="mon-400-16">
                  <i class="bi bi-person indi-text"></i>
                  <b class="indi-text"> Name: </b> Kristina Cassandra Castañeda
                </p>
                <p class="mon-400-16">
                  <i class="bi bi-envelope-at indi-text"></i>
                  <b class="indi-text"> Email: </b> castanedakcr&#64;gmail.com
                </p>
    
                <p class="mon-400-16">
                  <i class="bi bi-telephone indi-text"></i>
                  <b class="indi-text"> Phone: </b> +63 927 214 0930
                </p>
  
            </div>
          </div>
          <div class="col-md-6 pt-3 ">
            <p class="mon-400-16">
              <i class="bi bi-linkedin indi-text"></i>
              <b class="indi-text"> LinkedIn: </b> 
              <a class="mon-400-16 no-underline" href="https://www.linkedin.com/in/kristina-castaneda" target="_blank">www.linkedin.com/in/kristina-castaneda</a>
            </p>

            <p class="mon-400-16">
              <i class="bi bi-github indi-text"></i>
              <b class="indi-text"> Github: </b> 
              <a class="mon-400-16 no-underline" href="https://github.com/keizeeee" target="_blank">https://github.com/keizeeee</a>
            </p>

          </div>


          <div class="row pt-5">
            <div class="col-4">
                <p class="mon-700-30">Education</p>
            </div>
          </div>
          <div class="row">
            <p class="mon-400-16">
              <b class="indi-text"> 2021 - Present: </b> University of the Philippines Diliman
            </p>
            <p class="mon-400-16">
              <b class="indi-text"> 2009 - 2021: </b> St. Scholastica’s Academy Marikina
            </p>

          </div>



          

          
                                    
            

        </div>
        

      </div>
          
          
      <div class="container mt-5">
        <h4 class="mon-700-30 text-white">Experience</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="main-timeline">
                    <a href="https://pointwest.com.ph/" target="_blank" class="timeline">
                        
                        <div class="timeline-content">
                            <h3 class="title">Pointwest Intern</h3>
                            <p class="mon-600-14">July 2024 - Aug 2024</p>
                            <p class="description">
                              <b>Software Engineer intern</b> who created an internal website for the company using Angular (TypeScript/JavaScript), Spring (Java), SQL, and Bootstrap with student interns.
                            </p>
                        </div>
                    </a>
                    <a href="https://www.facebook.com/UPCURSOR" target="_blank" class="timeline">
                        <div class="timeline-content">
                            <h3 class="title"> UP Association of Computer Science Majors (UP CURSOR) </h3>
                            <p class="mon-600-14"> 2023 - Present</p>
                            <p class="description"> 
                              <b>HR manager for Tackle 2024</b>, a job fair for students interested in CS/IT careers • <b>Academic Affairs HR Manager 2024</b>, responsible for organizing review sessions.                     
                                
                            </p>
                        </div>
                    </a>
                    <a href="https://www.facebook.com/upacm" target="_blank" class="timeline">
                        <div class="timeline-content">
                            <h3 class="title">Association for Computing Machinery - UP Diliman Student Chapter, Inc. (UP ACM)</h3>
                            <p class="mon-600-14"> 2021 - Present </p>
                            <p class="description">
                              <b>Vice Head of Membership Committee</b> (2022 - 2023) • ACM Fest Destinations 2022, Head of Publicity • Easy As Py 2022: Python Programming Workshop and Algolympics 2022 Steering Committee Member
                            </p>
                        </div>
                    </a>
                    
                </div>
            </div>
        </div>
    </div>

    <section class="experience pt-100 pb-100" id="experience">
      <div class="container">
        <div class="row">
          <div class="col-xl-8 mx-auto text-center">
            <div class="section-title">
              <h4>bootstrap 5 timeline</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            </div>
          </div>
        </div>
        <div class="row">
                 <div class="col-xl-12">
                    <ul class="timeline-list">
                       <!-- Single Experience -->
                       <li>
                          <div class="timeline_content">
                             <span>2008</span>
                             <h4>Intern Developer span</h4>
                             <p>We gather your business and products information. We then determine the direction of the project and understand your goals and we combine your ideas with ours for an amazing website.</p>
                          </div>
                       </li>
                       <!-- Single Experience -->
                       <li>
                          <div class="timeline_content">
                          <span>2007-2012</span>
                             <h4>Junior Developer</h4>
                             <p>We gather your business and products information. We then determine the direction of the project and understand your goals and we combine your ideas with ours for an amazing website.</p>
                          </div>
                       </li>
                       <!-- Single Experience -->
                       <li>
                          <div class="timeline_content">
                          <span>2012-2015</span>
                             <h4>Senior Developer</h4>
                             <p>We gather your business and products information. We then determine the direction of the project and understand your goals and we combine your ideas with ours for an amazing website.</p>
                          </div>
                       </li>
                       <!-- Single Experience -->
                       <li>
                          <div class="timeline_content">
                          <span>2015-2018</span>
                             <h4>Project Manager</h4>
                             <p>We gather your business and products information. We then determine the direction of the project and understand your goals and we combine your ideas with ours for an amazing website.</p>
                          </div>
                       </li>
                    </ul>
                 </div>
              </div>
      </div>
      </section>
      
    

  </div>
  
</div>

