.indi-bg{
    background-color: #1A1423;
}
.indi-theme {
    background-color: #E100FF;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px; 
    font-weight: 400; 
    color: white 
}
.font-mon-700 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px; 
  font-weight: 700; 
  color: white 
}
  
  .font-poppins { /* medium white text */
    font-family: 'Poppins', sans-serif;
    font-size: 28px; 
    font-weight: 400; 
    color: white; 
  }

  .font-poppins-lg-bright { /* for title bright carousel*/
    font-family: 'Poppins';
    font-size: 52px; 
    font-weight: 500; 
    color: #E100FF; 
  }

  .font-poppins-text { /* standard text */
    font-family: 'Poppins', sans-serif;
    font-size: 16px; 
    font-weight: 400; 
    color: white; 
  }

  .fullscreen-bg__video {
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
}